.logout {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1440px;
  &__title {
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
  }
  &__btn {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #41522e;
    background-color: unset;
    img {
      margin-left: 15px;
    }
  }
}
.columns {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside {
}
.filter {
  margin: 24px;
  width: 360px;
  height: 410px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__label {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #424242;
  }
  &__input {
    width: 296px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #c9cacc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
  }
  &__btn {
    width: 296px;
    height: 50px;
    background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
.favorite {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  width: 360px;
  height: 472px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
  }
  &__buttons {
    &_rating {
      font-weight: 400;
      font-size: 14px;
      position: relative;
      text-align: left;
      box-sizing: border-box;
      padding: 4px 8px;
      width: 89px;
      height: 28px;
      background: #ffffff;
      border: 1px solid #41522e;
      border-radius: 4px;
    }
    &_price {
      font-weight: 400;
      font-size: 14px;
      position: relative;
      text-align: left;
      box-sizing: border-box;
      padding: 4px 8px;
      width: 71px;
      height: 28px;
      background: #ffffff;
      border: 1px solid #41522e;
      border-radius: 4px;
      margin-left: 8px;
    }
    &_up {
      position: absolute;
      top: 6px;
      right: 9px;
    }
    &_down {
      position: absolute;
      transform: scale(-1, -1);
      top: 13px;
      right: 9px;
    }
  }
  &__list {
    position: relative;
    width: 100%;
  }
  &__item {
  }
  .item {
    &::after {
      position: absolute;
      bottom: -8px;
      left: 0px;
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(135, 135, 135, 0.2);
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
    &__title {
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #424242;
      img {
        width: 21px;
        height: 18px;
      }
    }
    &__date {
      margin: 4px 0px 8px 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #878787;
      span:nth-child(2) {
        position: relative;
        margin-left: 37px;
        &::before {
          position: absolute;
          top: 7px;
          left: -21px;
          content: '';
          width: 9px;
          height: 1px;
          background: #c4c4c4;
          border-radius: 2px;
        }
      }
    }
    &__price {
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #878787;
      img {
        width: 17px;
        height: 17px;
      }
      span {
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        text-align: right;
        letter-spacing: -0.408px;
        color: #424242;
      }
    }
  }
}
.result {
  padding: 48px 32px;
  gap: 28px;
  width: 664px;
  height: 902px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #424242;
    span:nth-child(2) {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #41522e;
    }
  }
  &__slider {
    height: 149px;
    margin: 28px 0 28px 0;
  }
  &__favorite-info {
    display: block;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
    margin-bottom: 39px;
  }
  &__list {
  }
  &__item {
  }
  .item {
    position: relative;
    margin-bottom: 19px;
    &::after {
      position: absolute;
      bottom: -8px;
      left: 0px;
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(135, 135, 135, 0.2);
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
    &__home {
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: rgba(65, 82, 46, 0.05);
      img {
        position: absolute;
        top: 12px;
        left: 15px;
      }
    }
    &__title {
      margin-left: 88px;
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #424242;
      img {
        width: 21px;
        height: 18px;
      }
    }
    &__date {
      margin: 4px 0px 8px 88px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #878787;
      span:nth-child(2) {
        position: relative;
        margin-left: 37px;
        &::before {
          position: absolute;
          top: 7px;
          left: -21px;
          content: '';
          width: 9px;
          height: 1px;
          background: #c4c4c4;
          border-radius: 2px;
        }
      }
    }
    &__price {
      margin-left: 88px;
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #878787;
      img {
        width: 17px;
        height: 17px;
      }
      span {
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        text-align: right;
        letter-spacing: -0.408px;
        color: #424242;
      }
    }
  }
}
